body {
  padding-top: 80px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.title-page {
  border-left: 10px solid black;
  padding-left: 10px;
}

.new-product {
  margin-top: 20px;
}

.sub-title {
  border-bottom: 1px solid gray;
  padding-bottom: 6px;
  display: inline-block;
}

form {
  margin: 30px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
