.app {
  margin: auto 20px;
  padding: 20px 0;
}

.title {
  text-align: center;
  margin: 10px 0 !important;
}

form {
  text-align: center;
  padding: 0 25%;
  .label-form {
    background-color: white;
    padding: 0 3px;
  }
  .title-gender {
    text-align: left;
    padding: 0 15px;
  }
  .gender-group {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .textarea-form {
    padding: 10px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  th {
    border: 1px solid #ddd;
    background-color: #475aff;
    color: white;
    padding: 10px;
  }
  td {
    padding: 7px;
  }
}

.modal {
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  .modal-popup {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 500px;
    padding: 20px;
  }
  .modal-action {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
  }
}

.btn {
  width: 100px;
  padding: 5px 15px;
}

.btn-cancel {
  background-color: gray;
  color: white;
}

.btn-confirm {
  background-color: #475aff;
  color: white;
  margin-left: 10px;
}

.btn-delete {
  background: red;
  color: white;
  padding: 5px;
  border: none;
}
