.section-slideshow {
  position: relative;
}

.slideshow-list .slideshow-item {
  height: 400px;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
}

.slideshow-btn-action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.slideshow-btn-action i {
  font-size: 30px;
}

.slideshow-btn-action .btn-pre {
  left: 30px;
  position: absolute;
}

.slideshow-btn-action .btn-next {
  right: 30px;
  position: absolute;
}

.slideshow-pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.slideshow-pagination li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $white;
  display: inline-block;
  margin: 0 5px;
}

.section-product {
  margin-top: 30px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: $yellow-dark;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  /* padding: 0 15px 10px; */
  margin-bottom: 30px;
}

.product-item .product-img {
  display: inline-block;
}

.product-item .product-img img {
  border-radius: 8px;
  height: 250px;
}

.product-item  .product-info {
  padding: 10px 0 15px;
}

.product-item .product-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item .product-info button {
  width: 100%;
  padding: 5px 0;
  background: $yellow;
  color: $white;
  border: none;
}

.product-item  .product-info .product-name {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.product-item  .product-info .product-name a {
  color: $yellow;
}

.product-item  .product-info .product-price {
  float: right;
  color: $yellow-so-dark;
  font-weight: 900;
}

.btn {
  font-size: 14px;
  color: $white;
  border-radius: 4px;
  display: block;
  padding: 5px 10px;
  text-align: center;
  background-color: initial;
  border: none;
}

.btn-primary {
  width: 100%;
  background-color: $yellow;
}

.section-banner-txt {
  background-color: antiquewhite;
  padding: 60px 0;
  text-align: center;
  margin-top: 30px;

}

.section-banner-txt h2 {
  color: $yellow;
  font-size: 22px;
  font-weight: 600;
}

.section-banner-txt p {
  padding: 10px;
}

.section-partner {
  margin-top: 40px;
}

.partner-list .partner-item {
  width: 18%;
}

.partner-list .partner-item a {
  display: inline-block;
  width: 100%;
}

.partner-list .partner-item img {
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
}

.product-detail {
  padding: 5% 0;
}

.product-detail img {
  height: auto;
  width: 300px;
}

.product-detail .product-img {
  display: flex;
  justify-content: space-around;
}

.btn-action {
  background-color: $yellow;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    input {
      margin: 5px 0;
      height: 34px;
      padding: 5px 10px;
    }
  }
  .footer-form {
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
  }
}


